<a href="https://colab.research.google.com/github/joaopaulofserafim/colecoes-python/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tupla em python

## Uma tupla em Python é uma coleção ordenada e imutável de elementos, definida usando parênteses `()`. Diferente das listas, uma vez criada, uma tupla não pode ser modificada, sendo ideal para armazenar dados constantes ou estruturas que não devem ser alteradas.

### Exemplode tupla

In [2]:
marcas = (
    "Nike", "Adidas", "Puma", "Hugo Boss",  "Gucci"
)

### Imprimindo Lista
print(marcas)

### Imprimindo tipo da lista

print(type(marcas))

('Nike', 'Adidas', 'Puma', 'Hugo Boss', 'Gucci')
<class 'tuple'>

## Funções Tuplas

### SORTED()

#### função para retornar a tupla de forma ordenada

In [3]:
print(sorted(marcas))

['Adidas', 'Gucci', 'Hugo Boss', 'Nike', 'Puma']

### SUM()

#### Função para somar os valores de todos os itens da tupla

In [7]:
numeros = (1, 2, 3)
print(sum(numeros))

6

### MIN()

#### Função para retornar o item de menor valor da tupla

In [8]:
print(min(numeros))

1

### MAX()

#### Função para retornar o item de maior valor da tupla

In [9]:
print(max(numeros))

3

## Métodos utilizados nas tuplas

### INDEX

#### Método para indicar o indice ou posição em que o item se localiza na tupla

In [11]:
print(numeros.index(3))

2

### COUNT

#### Método para contar a quantidade de vezes em que o item especificado se repete na tupla

In [13]:
numeros = (1, 2, 2, 3, 3, 4)
print(numeros.count(3))

2